body {
	/*background-color: #382410;*/
	background-image: url("../resources/background-brown.jpg");
	font-family: "Helvetica Neue";
}

#hello-text {
	color: white;
	position: absolute;
	margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
   	font-size: 4em;
   	opacity: 0;
}

#talent-display {
	margin-top: 20px;
}

h3, p {
	text-align: center;
}

.talent-type img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 10em;
	max-height: 10em;
}
