html {
	height: 100%;
}


body {
	background-image: url("../resources/background.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}


.skill-title {
	display: inline;
	padding: 1em;
	font-size: 3em;
}

.skill-container {
	position: absolute;
	width: 100%;
	top: 50%;
}


@keyframes textanim {
	0% {
		color: #26B251;
	}
	50% {
		color: #B21614;
	}
	100% {
		color: #FFD8D8;
	}
}

.glitchy-text {
	animation-name: textanim;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}


@keyframes balloonAnimation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

#balloon {
	animation-name: balloonAnimation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

}