body {
	/*background-color: #382410;*/
	background-image: url("../resources/background-brown.jpg");
	font-family: "Helvetica Neue";
}

#hello-text {
	color: white;
	position: absolute;
	margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
   	font-size: 4em;
   	opacity: 0;
}

#talent-display {
	margin-top: 20px;
}

h3, p {
	text-align: center;
}

.talent-type{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10em;
	margin-bottom: 10em;
	width: 7em;
	height: 6.2em;
	opacity: 0;
	/*animation: talent-type-animation 3s 1s infinite linear alternate;*/
}
/*

@keyframes talent-type-animation {
	0%{
		
	}
	50% {
		transform: scale(3);
		
	}
	100% {
		

	}*/
}