*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav.navbar-nav li a {
     color: #fff !important; 
 }
 .nav.navbar-nav li a:hover { 
     color: #DBDBDB !important;
 }

 .navbar-header a {
     color: #fff !important; 
 }
 .navbar-header a:hover { 
     color: #DBDBDB !important;
 }

 

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #9BAD8E;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}  


.content {
  margin: auto;
  text-align: center;
}

#c {
  margin: auto;
}

.header {
  text-align: center;
  width: 100%;
  margin: auto;
  height: 25px;
}

.pentagon {
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 3px 3px 28px 3px;
  display:inline-block;
}



/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #343642;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


